/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap'); */

/* .integral-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
} */

.timer-p {
    /* font-family: timer-font; */
    font-size: 1.75em;
    color: rgb(0, 0, 0);
}

.timer-row {
    display: flex;
    align-items: center;
}

.card .card-body {
    padding-top: 10px; /* adjust as needed */
    padding-bottom: 10px; /* adjust as needed */
  }